$c_bg: #222;
$c_txt: #fff;
$c_link: #f7f7f7;
$c_link_vis: #a1a1a1;
$c_emph: #5fffee;
$c_thead: rgb(49, 49, 49);
$c_sub: #efeaea;
$c_like: #fe536d;
$c_obj: #b88b58;
$c_alt: #abc470;

/*  TYPOGRAPHY */
$f_size: 16;
$f_regular: 400;
$f_bold: 700;

/* GRID */
$w_max: 1600;
$w_phone_only: (max-width:599px);
$w_tablet_portrait_up: (min-width:600px);
$w_tablet_landscape_up: (min-width:900px);
$w_desktop_up: (min-width:1200px);
$w_big_desktop_up: (min-width:1800px);

/* Z-INDEX */
$z-layout: 100;
$z-cont: 10;
$z-bg: 5;